<%- include ("../partials/header") %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Edit <%= student.name %></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/students/<%= student._id %>?_method=PUT" method="POST">

        
                <div class="form-group">
                    <label>Email:</label><input class="form-control" type="email" name="student[email]" value="<%= student.email %>" >
                </div>
               
               
                
                <div class="form-group">
                    <label>Phone:</label><input class="form-control" type="text" name="student[phone]" 
                    value="<%= student.phone %>">
                </div>
                
                
                
                <div class="form-group">
                    <input class="form-control btn btn-success" type="Submit">
                </div>

            </form>
            <a href="/students">Go Back</a>
        </div>
    </div>
</div>
<%- include ("../partials/footer") %>