<%- include ("../partials/header") %>

<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />
 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To Tutor Delhi!</h1>
             <p>Out hand-picked list of Students from accross the country</p>
         </div>
     </header>
     
     <div class="row flex wrap" style="display:flex; flex-wrap: wrap;">
        <% students.forEach(function(student){ %>
        <div class = " col-md-3 col-sm-6 ">
        <div class="thumbnail">
 <div class="ui  cards">
  <div class="card">
    <div class="content">
      <img class="right floated mini ui image" src="">
      <div class="header">
      <p><strong>Name:</strong> <%= student.name %> </p>
      </div>
      <div class="meta">
      <p> <strong>Subject:</strong> <%= student.subject %> </p>  
      </div>
      <div class="meta">
      <p> <strong>Place of study:</strong> <%= student.location %> </p>  
      </div>
      <div class="description">
      <p><strong>Gender Preference:</strong> <%= student.preference %></p>
      

      </div>
    </div>
    
    <div class="extra content">
      <div class="ui two buttons">
      
<div>  <a href="/students/<%= student._id %>/<%= student.phone %>" class="ui basic green button">Contact Information</a></div>
        
        
        <div>  <a href="/students/<%= student._id %>" class="ui basic green button">More Information</a></div>
        

      </div>
    </div>
  </div>
  </div>
  </div>
  </div>


        <% }); %>
    </div>
</div>
</div>
<%- include ("../partials/footer") %>
