<%- include ("../partials/header") %>

 <div class="container">
  <div class="row">
     <div class="col-md-3">
         <p class="lead">Teacher Profile</p>
           <div class = "list-group">
             <li class = "list-group-item active"><%= user.username %></li>
             <li class = "list-group-item"><a href="mailto:<%= user.email %>">Click here to mail me!</a></li>  
                          
                   </div>
                   </div>
                
     <div class="col-md-9">
       <div class="thumbnail">
       <div class="caption-full">

       <p> Following is the list of all the subject profiles created by this specific teacher: </p>
       <ul>
<% teachers.forEach(function(teacher){ %>
  <li><a href="/teachers/<%= teacher.id %>"><%= teacher.subject %></a></li>
<% });  %>

       </ul>


         </div>
         </div>
         </div>


  

<%- include ("../partials/footer") %>