<%- include ("../partials/header") %>


<div class="container">
  <div class="row">
     <div class="col-md-3">
         <p class="lead">Teacher Contact Information</p>
           <div class = "list-group">
             <li class = "list-group-item active">This is contact page!</li>
             
                   </div>
                </div>
     <div class="col-md-9">
       <div class="thumbnail">
         <%= console.log(teacher); %>
         <div class="caption-full">
         <div><h3><strong>Name:  </strong><%=  teacher.name %> </h3> </div>
         <p><strong>Email:</strong><%=  teacher.email%></p>
         <p><strong>Phone Number:</strong><%=  teacher.phone %></p>
         <p><strong>Address:</strong> <%=  teacher.address %></p>
         <p><strong>Place of study:</strong> <%=  teacher.location %></p>
         
         <p> 
            <em> Post By: <%= teacher.author.username %> </em>
         </p>


        
         </div>
         </div>
<div class="well">
<h3>Comments</h3>
<div class ="text-right">

<a class="btn btn-success" href="/teachers/<%= teacher._id %>/comments/new">Add a new comment </a>
 </div>
 <hr>

 <% teacher.comments.forEach(function(comment){ %>
 <div class="row">
   <div class="col-md-12">
   <strong> <%= comment.author.username %> </strong>
   <span class="pull-right">....</span>
   <p> 
     <%= comment.text %>
   </p>
<% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin ){ %>
   <a class="btn btn-xs btn-warning"
    href="/teachers/<%= teacher._id %>/comments/<%= comment._id%>/sedit">Edit</a>
   <form style = " display: inline" action="/teachers/<%= teacher._id %>/comments/<%= comment._id%>?_method=DELETE" method="POST">
   <button class="btn btn-xs btn-danger"> Delete </button>
   </form>
   <% } %>
   </div>
   </div>
   
	
<%  });  %>
 </div>
 </div>
 </div>
 </div>


<%- include ("../partials/footer") %>